{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-3">Welcome</h1>
    <p class="lead">Papua New Guinea Royal Constabulary</p>
    <hr class="my-2">
    <p>Occurence Book Web Application</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{{path('appuser_index')}}" role="button">Login to continue</a>
    </p>
</div>
{% endblock %}
