<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% include 'misc/stylesheets.html.twig' %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <a class="navbar-brand" href="#">RPNGC OB</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#mobilMenuNav" aria-controls="mobilMenuNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mobilMenuNav">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('appuser_index')}}">Users</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="obReportDropdownOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">OB Report</a>
                        <div class="dropdown-menu" aria-labelledby="obReportDropdownOptions">
                            <a class="dropdown-item" href="{{path('appuser_index')}}">All OB Reports</a>
                            <a class="dropdown-item" href="{{path('appuser_new')}}">New OB Report</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="container" id="content">
                <div class="row" id="content">
                    {% block body %}{% endblock %}
                </div>
                <div class="row" id="footer"></div>
            </div>
        </div>
        {% block javascripts %}{% endblock %}
        {% include 'misc/javascripts.html.twig' %}
    </body>
    <div>
</html>
